[Unit]
BindsTo=skype.service
After=skype.service

[Service]
SyslogIdentifier=%p
KillSignal=SIGINT
Restart=always
RestartSec=5s
ExecStart=/usr/bin/env %h/skyped/skyped -ns -c %h/skyped/skyped.conf
